<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.example02.Example02PersonMapper">
<!--    <resultMap id="PersonBooleanTypeHandler" type="example.example02.Example02PersonModel">-->
<!--        <id column="id" property="id" />-->
<!--        <result column="first_name" property="firstName" />-->
<!--        <result column="last_name" property="lastName" />-->
<!--        <result column="birth_date" property="birthDate" />-->
<!--        <result column="employed" property="employed" typeHandler="example.util.EmployedTypeHandler"/>-->
<!--        <result column="occupation" property="occupation"/>-->
<!--    </resultMap>-->

<!--    <insert id="save" parameterType="PersonBooleanTypeHandler">-->
<!--        INSERT INTO person(-->
<!--            first_name,-->
<!--            last_name,-->
<!--            birth_date,-->
<!--            employed,-->
<!--            occupation-->
<!--        ) VALUES (-->
<!--            #{firstName},-->
<!--            #{lastName},-->
<!--            #{birthDate},-->
<!--            #{employed},-->
<!--            #{occupation}-->
<!--        )-->
<!--    </insert>-->
</mapper>
